.bg-danger, .btn-danger{
    background-color: #dc3545 !important;
}
.text-danger{
    color: #e7355b !important;
}
span{
    color: #e7355b !important;
}
/* .bkg{
    background: linear-gradient(180deg,rgba(255,244,240,0),#fff4f0 17.19%,#fff4f0 84.37%,rgba(255,244,240,0))!important;
} */
.navigation{
    position: fixed;
    top: 0;
    box-sizing: border-box;
    background-color: white;
    z-index: 100;
    height: 10vh !important;
    font-size: small;
}
.home{
    padding-top: 150px !important;
}
a{
    text-decoration: none;
    color: black !important;
}
span{
    color: #dc3545 !important;
}
.thumb{
    padding: 10px;
    border-radius: 50%;
    background-color: #dc3545;
}
.top-enroll + .enroll{
    padding: 5px 10px !important;
    margin-left: -10%;
}
.full-remote{
    box-shadow: 0 11px 22px rgb(231 51 43 / 10%);
    background-color: white;
    border-radius: 35px;
}
.full-remote h1, .full-remote h3{
    font-weight: 700;
}
.full-remote:hover{
    transform: translateY(-10px);
}
.c1{
    display: flex !important;
    float: right !important;
    margin-right: -80px !important;
    margin-top: -80px !important;
    transform: scale(.6);
}
.practices{
    display: flex !important;
    align-content: center !important;
    border: 2px solid white;
    border-radius: 40px;
    margin-bottom: 10px;
}
.practices p{
    vertical-align: middle;
    align-self:  center !important;
    margin: 0;
}
.practice-enroll, .home-enroll, .tweet-btn{
    border-radius: 25px;
    padding: 10px 30px;
}
.tweet-btn{
    border-radius: 25px;
    padding: 5px 30px;
}
.ds5{
    transform: translateX(-50%);
}
.s5w{
    transform: translateX(330%);
    /* transform: translateY(50%); */
}
.s7w{
    transform: translate(-40%, 40%);
}
.stack{
    background-color: white;
    border-radius: 35px;
    box-shadow: 0 11px 22px rgb(231 51 43 / 10%);
    height: 295px !important;
}
.stack h4, .full-time h4, .part-time h4{
    font-size: 20px !important;
    font-weight: 700 !important;
}
.accordion-button:after{
    background-image: url('./images/plus-svgrepo-com\ \(1\).svg') !important;
}
p.accordion-button{
    margin: 0 !important;
}
p.accordion-button:not(.collapsed){
    border-bottom: none !important;
    background: none !important;
    color: black !important;
    box-shadow: none;
}
.accordion-body{
    padding-top: 0;
    text-align: left;
}
.full-time, .part-time{
    border-radius: 55px;
    line-height: 20px;
    box-shadow: 0 31px 60px rgba(231,51,43,.2)!important;
    height: 85%;
}
.ft-parent{
    background: rgb(255, 253, 245)!important;
}
.nested-list li{
    list-style: none;
}
.nested-list{
    padding-left: 0 !important;
}
.flt-img{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    position: relative;
}
.flt2{
    transform: translateY(-120%);
}
.zindex-minus{
    z-index: 2;
}
.get-started{
    border-radius: 30px;
}
.bottom-img, .top-img{
    display: flex !important;
    justify-content: space-between;
    margin: 0 !important;
    padding: 0 !important;
}
.off-img{
    transform: translate(100%, 50%);
}
.bottom-img{
    margin-top: -30%;
}
.bottom-text{
    margin-bottom: -10%;
}
.start-enroll{
    border-radius: 30px;
    padding: 10px 30px;
}